<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/static/usergroup/login/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<script src="/static/usergroup/bootstrap/js/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
 <!--SIGN UP-->
 <h1>Assest Manage Login</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="/static/usergroup/login/img/avtar.png" />
	</div>
			<form action="/" method="post" role="form">
                {% if error %}
                    <div class="alert alert-warning text-center">{{ error }}</div>
                {% endif %}
					<input type="text" name="username" class="form-control" placeholder="UserName" >
						<div class="key">
					<input type="password" name="password" class="form-control" placeholder="Password" >
						</div>
                    <div class="signin">
		                <input type="submit" value="Login" >
	                </div>
			</form>
</div>
<div class="copy-rights">
					<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="" target="_blank" title="资产管理系统">资产管理系统</a> - Collect from <a href="" title="" target="_blank">CMDB Manage</a></p>
			</div>

</body>
</html>