<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Assest | 资产管理平台</title>

    <link rel="stylesheet" href="/static/navigation/css/style.css" media="screen" type="text/css" />

</head>

<body>

{#  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="sidebar">
  <h1 style="color: #e4393c"><i class="fa fa-bars push"></i>CMDB <span class="color">Menu</span></h1>
    <ul>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-dashboard push"></i>用户(组)信息<i class="fa fa-angle-right"></i></a><span class="hover"></span>
    <ul class="sub-menu">
         <li><a href="/auser/group/list/">用户组信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/group/add/">添加用户组<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/user/list/">用户信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/user/add/">添加用户<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
      </ul>
    </li>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-user push"></i>资产(组)信息<i class="fa fa-angle-right"></i></a><span class="hover"></span>
      <ul class="sub-menu">
         <li><a href="/auser/assestgroup/list/">资产组信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/assestgroup/add/">添加资产组<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/assest/list/">资产信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="/auser/assest/add/">添加资产<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
      </ul>
    </li>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-cog push"></i>系统用户信息<i class="fa fa-angle-right"></i></a><span class="hover"></span>
     <ul class="sub-menu">
         <li><a href="/auser/sysuser/list/">系统用户信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
         <li><a href="#">添加系统用户<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
      </ul></li>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-picture-o push"></i>上传与下载文件<i class="fa fa-angle-right"></i></a><span class="hover"></span>
        <ul class="sub-menu">
         <li><a href="#">上传文件<i class="fa fa-angle-right"></i></a><span class="hover"></span>
          </li>
         <li><a href="#">下载文件<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
      </ul>
    </li>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-file push"></i>资产管理平台详情<i class="fa fa-angle-right"></i></a><span class="hover"></span>
        <ul class="sub-menu">
         <li><a href="#">源代码下载及部署<i class="fa fa-angle-right"></i></a><span class="hover"></span>
          </li>
         <li><a href="#">使用说明文档<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
      </ul>
    </li>
    <li><a style="color: #1dc5a3" href="#"><i class="fa fa-plane push"></i>Contact Me<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
  </ul>
</div>
<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>
  <script src='/static/navigation/js/jquery.js'></script>

  <script src="/static/navigation/js/index.js"></script>

</body>

</html>